TEAM_ID=

PRODUCT_NAME=UIKitSandbox
PRODUCT_BUNDLE_IDENTIFIER=io.aequicor.heartbeat.uikit.sandbox

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0
OTHER_LDFLAGS=$(inherited) -framework UIKitSandbox
FRAMEWORK_SEARCH_PATHS=$(inherited) $(SRCROOT)/../shared/build/xcode-frameworks/$(CONFIGURATION)/$(SDK_NAME)
